{% extends "master.html" %}
{% block content %}

{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">

        {% if status == 1 %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Successfully</strong> add the newincom.
                <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
            </div>
        {% endif %}

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Add Expenses</h3>
                    <ul class="breadcrumb">
                        <li class=""><a href="{% url 'branch:branchhome' %}">Dashboard /</a>
                        </li>
                        <li class=""><a href="{% url 'branch:expenses' %}">Income /</a>
                        </li>
                        <li class="breadcrumb-item active">Add Income</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form action="#" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Category:</label>
                                        <input type="text" class="form-control" name="category" id="cphone" list="Category">
                                            <datalist id="Category">
                                                <option>Select Category</option>
                                                <option>Advertising</option>
                                                <option>Marketing</option>
                                                <option>Software</option>
                                                <option>Travel</option>
                                            </datalist>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Amount</label>
                                        <input class="form-control"  type="text" name="amount">
                                    </div>
                                    <div class="form-group">
                                        <label>From</label>
                                        <input class="form-control"  type="text" name="fromperson">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date:</label>
                                        <div >
                                            <input class="form-control" type="date" name="date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Criteria</label>
                                        <input type="text" class="form-control" name="criteria">
                                    </div>
                                    <div class="form-group">
                                        <label>Note</label>
                                        <textarea name="" id="" cols="5" rows="5" class="form-control" name="notes"></textarea>
                                    </div>
                                    <div class="text-end mt-4">
                                        <button type="submit" class="btn btn-primary">Add Income</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}