{% extends "master.html" %}
{% block content %}

{% load static %}


<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- {% if status == 1 %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Successfully added the <strong>customer</strong>
                </div>
            {% endif %} -->

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">
                        Add bank details
                    </h3>
                    <ul class="breadcrumb">
                        <li class="">
                            <a href="{% url 'branch:branchhome' %}">Dashboard /</a>
                        </li>
                        <li class="">
                            <a href="{% url 'branch:bank' %}">Bank /</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Add Bank
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Basic Info
                        </h4>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Account Holder Name
                                        </label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Account Number
                                        </label>
                                        <input type="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Re-enter Account Number
                                        </label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Bank name
                                        </label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            IFSC Code
                                        </label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="text-end mt-4">
                            <button type="submit" class="btn btn-primary">
                                Add Bank
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
//    toggle

        $(document).on('click', '#toggle_btn', function () {
            if ($('body').hasClass('mini-sidebar')) {
                $('body').removeClass('mini-sidebar');
                $('.subdrop + ul').slideDown();
            } else {
                $('body').addClass('mini-sidebar');
                $('.subdrop + ul').slideUp();
            }
            setTimeout(function () {
                mA.redraw();
                mL.redraw();
            }, 300);
            return false;
        });
</script>

{% endblock %}