{% extends "master.html" %}
{% block content %}
    {% load static %}


    

    <div class="page-wrapper">
        <div class="content container-fluid">

            {% if status == 1 %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Successfully added the <strong>Staff</strong>
                </div>
            {% endif %}

            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Staff Details</h3>
                        <ul class="breadcrumb">
                            <li class="">
                                <a href="{% url 'branch:branchhome' %}">Dahboard /</a>
                            </li>
                            <li class="">
                                <a href="{% url 'branch:staff' %}">Staff /</a>
                            </li>
                            <li class="breadcrumb-item active">Add Staff</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Basic Info</h4>
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control" name="name">
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" name="email">
                                        </div>
                                        <!-- <div class="form-group">
                                                    <label>Staff ID</label>
                                                    <input type="text" class="form-control" name="" id="">
                                                </div> -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Staff ID</label>
                                            <input type="text" class="form-control" name="staffid">
                                        </div>
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="text" class="form-control" name="phone">
                                        </div>
                                    </div>
                                </div>
                                <h4 class="card-title mt-4">Address</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Place</label>
                                            <input type="text" class="form-control" name="place">
                                        </div>
                                        <div class="form-group">
                                            <label>State</label>
                                            <input type="text" class="form-control" name="state">
                                        </div>
                                        <div class="form-group">
                                            <label>Address</label>
                                            <textarea rows="5"
                                                      cols="5"
                                                      class="form-control"
                                                      placeholder="Enter Address"
                                                      name="address"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>City</label>
                                            {% comment %} <select class="select cal-icon form-control">
                                                                <option>malappuram</option>
                                                                <option>Calicut</option>
                                            </select> {% endcomment %}
                                            <input type="text" class="form-control" name="city">
                                        </div>
                                        <div class="form-group">
                                            <label>Pincode</label>
                                            <input type="text" class="form-control" name="pincode">
                                        </div>
                                    </div>
                                </div>
                                {% comment %} <h4 class="card-title mt-4">Branch Address</h4>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Branch Name:</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Branch ID:</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                {% endcomment %}
                                <h4 class="card-title mt-4">Joining Details</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Joined Date:</label>
                                            {% comment %} <input class="form-control datetimepicker" type="text" name="date"> {% endcomment %}
                                            <input class="form-control " type="date" name="date">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="text-end mt-4">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    
                                </div>

                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
