{% extends "master.html" %}
{% block content %}
    {% load static %}
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header invoices-page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <ul class="breadcrumb invoices-breadcrumb">
                            <li class="breadcrumb-item invoices-breadcrumb-item">
                                <a href="{% url 'branch:invoicelist' %}">
                                    <i class="fa fa-arrow-left"></i> Back to Invoice List
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-auto">
                        <div class="invoices-create-btn">
                            
                            <a class="invoices-preview-link"
                               href="/branchapp/preview?prid={{invoice_id}}"
                               data-bs-target="#invoices_preview"><i class="fa fa-eye"></i> Preview</a>
                            
                            <!-- <a href="#"
                               data-bs-toggle="modal"
                               data-bs-target="#delete_invoices_details"
                               class="btn delete-invoice-btn">
                                Delete Invoice
                            </a>
                            <a href="#"
                               data-bs-toggle="modal"
                               data-bs-target="#save_invocies_details"
                               class="btn save-invoice-btn">Save Draft</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card invoices-add-card">
                        <div class="card-body">
                            <!-- <form action="#" class="invoices-form" method="POST"> -->
                                <!-- {% csrf_token %} -->
                                <div class="invoices-main-form">
                                    <div class="row">
                                        <div class="col-xl-4 col-md-4 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label>Customer Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="cname"
                                                       id="cname"
                                                       placeholder="Enter name">
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label>Contact Number</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="cphone"
                                                       id="cphone"
                                                       list="customerlist">
                                                <datalist id="customerlist">
                                                    {% for c in customer  %}
                                                        <option value="{{ c.phone }}">
                                                            {{ c.phone }}
                                                        </option>
                                                    {% endfor %}
                                                </datalist>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-4 col-sm-12 col-12">
                                            <h4 class="invoice-details-title">Invoice details</h4>
                                            <div class="invoice-details-box">
                                                <div class="invoice-inner-head">
                                                    <span>Invoice No. <input class="form-control" type=text value="{{invoice_id}}" name="invId" id="invId" readonly></span>
                                                </div>
                                                <div class="invoice-inner-footer">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="invoice-inner-date">
                                                                <span>
                                                                    Date
                                                                    <input class="form-control" type="date" name="invdate">              
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="invoice-item">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-6 col-md-6">
                                            <div class="invoice-info">
                                                <strong class="customer-text">Invoice From</strong>
                                                <p class="invoice-details invoice-details-two">
                                                    Darren Elder
                                                    <br>
                                                    806 Twin Willow Lane, Old Forge,
                                                    <br>
                                                    Newyork, USA
                                                    {{msg}}
                                                    <br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="invoice-add-table">
                                    <h4>Item Details</h4>
                                    <div class="table-responsive">
                                        <table  class="table table-center add-table-items">
                                            <thead>
                                                <tr>
                                                    <th>Sl no</th>
                                                    <th>Medicine Name</th>
                                                    <th>Quantity</th>
                                                    <th>Rate/Item</th>
                                                    <th>Item Total</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="add-row">
                                                    <td>
                                                        <input type="text" class="form-control" readonly value="1" >
                                                    </td>
                                                    <td>
                                                        
                                                        <input type="text" class="form-control" name="medicinename" list="medicine" id="medicinename1" onchange=changedname(1)>
                                                        <datalist id="medicine">
                                                            {% for p in product %}<option value="{{ p.product.name }}">{% endfor %}
                                                        </datalist>
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" id="qty1" min="1" onchange=changedqty(1) name="qty">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="price1">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="itemtotal1" name="itemtotal" >
                                                    </td>
                                                    <td class="add-remove text-end">
                                                        <a href="javascript:void(0);" class="add-btn me-2"><i class="fas fa-plus-circle" ></i></a>
                                                        {% comment %} <a href="javascript:void(0);" class="remove-btn"><i class="fas fa-trash" ></i></a> {% endcomment %}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7 col-md-6">
                                        <div class="invoice-fields">
                                            <h4 class="field-title">More Fields</h4>
                                            <div class="field-box">
                                                <p>
                                                    Payment Details
                                                </p>
                                                <div class="col-md-6">
                                                    <select class="form-select" name="type" id="type">
                                                        <option>
                                                            CASH
                                                        </option>
                                                        <option>
                                                            BANK
                                                        </option>
                                                        <option>
                                                            GOOGLE PAY
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="invoice-faq"></div>
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <div class="invoice-total-card">
                                            <h4 class="invoice-total-title">Summary</h4>
                                            <div class="invoice-total-box">
                                                <div class="invoice-total-inner">
                                                    <p>
                                                        Sub total <span id="subtotal">0</span>
                                                    </p>
                                                    {% comment %} <p>
                                                        Round Off
                                                        <input type="checkbox" id="status_1" class="check">
                                                        <label for="status_1" class="checktoggle">checkbox</label>
                                                        <span>$54</span>
                                                    </p> {% endcomment %}
                                                    <div class="links-info-one">
                                                        <div class="links-info">
                                                            <div class="links-cont">
                                                                <a href="#" class="service-trash">
                                                                    <i class="feather-trash-2"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <p class="mb-0">
                                                        Tax <span id="gst"></span>
                                                        
                                                    </p>
                                                    <div class="links-info-discount">
                                                        <div class="links-cont-discount">
                                                            <a href="#" class="service-trash-one">
                                                                <i class="feather-trash-2"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="invoice-total-footer">
                                                    <h4>
                                                        Total Amount <span id="total_amount">0</span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="upload-sign">
                                            <div class="form-group float-end mb-0">
                                                <a href="{% url 'branch:preview' %}" class="btn btn-primary" role="button" type="submit" id="generatebutton">Generate bill</a>
                                                <!-- <button class="btn btn-primary" type="submit" id="generatebutton">Generate bill</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    <script src="{% static 'js/billing.js' %}"></script>
    <script>

    // customer name and phone number

        $(document).ready(function(){

            $('#cphone').change(function(){
                // alert('hwllo')
                $.ajax({
                    url:'/branchapp/custsearch',
                    type:'GET',
                    data:{
                        'phone':$(this).val()
                    },
                    success:function(response){
                        console.log(response)
                        $('#cname').val(response.customer.name)
                    }
                })
            })
        })


    </script>
{% endblock %}
