{% extends "master.html" %}

{% block content %}
{% load static %}
  
            <div class="page-wrapper">
                <div class="content container-fluid">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="page-title">
                                    Edit Customers
                                </h3>
                                <ul class="breadcrumb">
                                    <li class="">
                                        <a href="{% url 'branch:branchhome' %}">Dashboard /</a>
                                    </li>
                                    <li class="">
                                        <a href="{% url 'branch:customers' %}">Customers /</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Edit Customers
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Basic Info
                                    </h4>
                                    <form action="#" method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>
                                                        Name
                                                    </label>
                                                    <input type="text" class="form-control" name="name" value="{{customers.name|capfirst}}">
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Email
                                                    </label>
                                                    <input type="email" class="form-control" name="email" value="{{customers.email}}">
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-6">
                                                
                                                <div class="form-group">
                                                    <label>
                                                        Phone
                                                    </label>
                                                    <input type="text" class="form-control" name="phone" value="{{customers.phone}}">
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Place
                                                    </label>
                                                    <input type="text" class="form-control" name="place" value="{{customers.place}}">
                                                </div>
                                            </div>
                                        </div>
                                      
                                        <div class="text-end mt-4">
                                            <button type="submit" class="btn btn-primary">
                                                Edit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}