{% extends "master.html" %}

{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Edit Expenses</h3>
                    <ul class="breadcrumb">
                        <li class="{% url 'branch:branchhome' %}"><a href="index.html">Dashboard /</a>
                        </li>
                        <li class="{% url 'branch:expenses' %}"><a href="expenses.html">Expenses /</a>
                        </li>
                        <li class="breadcrumb-item active">Edit Expenses</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form action="#" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Category:</label>
                                        <input type="text" class="form-control" name="category" id="cphone" list="Category" value="{{expense.category}}">
                                            <datalist id="Category">
                                                <option>Select Category</option>
                                                <option>Advertising</option>
                                                <option>Marketing</option>
                                                <option>Software</option>
                                                <option>Travel</option></option>
                                            </datalist>
                                    </div>
                                    <div class="form-group" onchange="showFunction()">
                                        <label>Note:</label>
                                        <textarea rows="5" cols="5" name="note" class="form-control" value="{{expense.note}}" placeholder="{{expense.note}}"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date:</label>
                                        <div>
                                            <input class="form-control" name="date" type="date" value="{{expense.date}}">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>Amount:</label>
                                        <input type="text" class="form-control" name="amount" value="{{expense.amount}}">
                                    </div>
                                    <div class="text-end mt-4">
                                        <button type="submit" class="btn btn-primary">Add Expenses</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}