{% extends "master.html" %}

{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">
                        Profit & Loss Report
                    </h3>
                    <ul class="breadcrumb">
                        <li class="">
                            <a href="{% url 'branch:branchhome' %}">Dashboard /</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Reports
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable" id="netprofittable">
                                <thead class="thead-light">
                                    <tr>
                                        <!-- <th>  
                                            Sl.No
                                        </th> -->
                                      
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th class="text-start">
                                            Net Profit
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  

<script>
    $(document).ready(function () {
       
        incomeSum = []
        $.ajax({
            url: "/branchapp/netprofit/",
            type: 'GET',
            success: function (responce) {

                var data = responce['datas']
                for (var i = 0; i < data.length; i++) {
                    expenceSum = []
                    incomeData = []
                    expenceData = []

                    var income
                    var expence
                    if (data[i].incomeamount != null) {
                        income = data[i].incomeamount
                    }
                    else {
                        income = 0
                    }
                    incomeSum.push(income)
                    if (data[i].amount != null) {
                        expence = data[i].amount
                    }
                    else {
                        expence = 0
                    }
                    expenceSum.push(expence)
                    var sumIncome = incomeSum.reduce(function (a, b) {
                        return a + b
                    }, 0)
                    var sumExpense = expenceSum.reduce(function (a, b) {
                        return a + b
                    }, 0)
                    netprofit = sumIncome - sumExpense
                    console.log(netprofit)
                    incomeSum = []
                    incomeSum.push(netprofit)

                    table = $("#netprofittable").DataTable();
                    if (data[i].incomeamount != null) {
                        incomeData.push([data[i].date, data[i].category,data[i].income_type, data[i].incomeamount, netprofit])
                        table.rows.add(incomeData).draw()
                    }
                    if (data[i].amount != null) {
                        expenceData.push([data[i].date, data[i].category,data[i].expense_type, data[i].amount, netprofit])
                        table.rows.add(expenceData).draw()
                    }
                    else {

                    }

                }
                // console.log(data.length)


                // console.log(responce)

            },


        })

    })

</script>


{% endblock %}