{% extends "master.html" %}

{% block content %}
{% load static %}




<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">
                                Search Product
                            </h3>
                            <ul class="breadcrumb">
                                <li class="">
                                    <a href="{% url 'branch:branchhome' %}">Dashboard /</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Search Product
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="col">
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="search" id="form1" class="form-control" placeholder="search medicine">
                        </div>&nbsp;&nbsp;
                        <div>
                            <button type="button" class="btn btn-success">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            Branch
                                        </th>
                                        <th>
                                            Contact Number
                                        </th>
                                        <th>
                                            Max quantity
                                        </th>
                                        <th>
                                            Expiry Date
                                        </th>
                                        <th>
                                            Qantity
                                        </th>
                                        <th class="text-center">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Calicut
                                        </td>
                                        <td>
                                            802525525
                                        </td>
                                        <td>
                                            $295
                                        </td>
                                        <td>
                                            16 Nov 2020
                                        </td>
                                        <td>
                                            <input type="number" placeholder="Enter qty" min="0" class="form-control">
                                        </td>
                                        <td class="text-center">

                                            <a href="javascript:void(0);"
                                                class="btn btn-sm btn-white text-success me-2"><i
                                                    class="fa fa-share me-1"></i>Request</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Kondotty
                                        </td>
                                        <td>
                                            2022525252
                                        </td>
                                        <td>
                                            $1750
                                        </td>
                                        <td>
                                            8 Nov 2020
                                        </td>
                                        <td>
                                            <input type="number" placeholder="Enter qty" min="0" class="form-control">
                                        </td>
                                        <td class="text-center">

                                            <a href="javascript:void(0);"
                                                class="btn btn-sm btn-white text-success me-2"><i
                                                    class="fa fa-share me-1 "></i>Request</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}