{% extends "master.html" %}

{% block content %}
{% load static %}




<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">
                                Search Product
                            </h3>
                            <ul class="breadcrumb">
                                <li class="">
                                    <a href="{% url 'branch:branchhome' %}">Dashboard /</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Search Product
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="col">
                    <div class="input-group">
                        <div class="form-outline">
                         <form method="POST">
                            {% csrf_token %}
                            {% comment %} <input type="search" id="form1" class="form-control" placeholder="search medicine"> {% endcomment %}
                            <input type="text" class="form-control" name="name"  list="medicinelist" placeholder="search medicine" >
                            <datalist id="medicinelist">
                                {% for m in medicines  %}
                                    <option value="{{m.name}}" >{{m.name}} </option>    
                                {% endfor %}
                            </datalist>
                            </div>&nbsp;&nbsp;
                            <div>
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-search"></i>
                                </button>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {{msg}}
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            Branch
                                        </th>
                                        <th>
                                            Contact Number
                                        </th>
                                        <th>
                                            Max quantity
                                        </th>
                                        <th>
                                            Expiry Date
                                        </th>
                                        <th>
                                            Qantity
                                        </th>
                                        <th class="text-center">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                
                                {% for ml in medicine_list %}
                                <form method='POST'>
                                    <tr>
                                        <td hidden>
                                            <input type="number" value="{{ml.id}}" name="avblbranch">
                                        </td>
                                        <td>
                                            {{ml.branch.branch_name}}
                                        </td>
                                        <td>
                                            802525525
                                        </td>
                                        <td >
                                            {{ml.quantity}}
                                        </td>
                                        <td>
                                            {{ml.expiry_date}}
                                        </td>
                                        <td>
                                            <input type="number" id="qty{{ml.id}}" onchange="changeQty({{ml.id}})" placeholder="Enter qty" min="1" class="form-control" max="{{ml.quantity}}" name="qty">
                                        </td>
                                        <td class="text-center">

                                            <a href="" id="hredID{{ml.id}}"
                                                class="btn btn-sm btn-white text-success me-2"><i
                                                    class="fa fa-share me-1"></i>Request</a>
                                        </td>
                                    </tr>
                                </form>  
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block JS %}
<script>
    function changeQty(id){
        var qty=$('#qty'+id).val()
        $("#hredID"+id).prop("href", "medreq/"+id+"/?qty="+qty)

    }
</script>
{% endblock %}