{% extends "master.html" %}

{% block content %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">
                        Staff Details
                    </h3>
                    <ul class="breadcrumb">
                        <li class="">
                            <a href="{% url 'branch:branchhome' %}">Dashboard /</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Staff
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <a href="{% url 'branch:addstaff' %}" class="btn btn-primary me-1">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                        <i class="fas fa-filter"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="filter_inputs" class="card filter-card">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>
                                Name
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>
                                Email
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>
                                Phone
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <div class="card bg-white">
                <!-- <div class="card-header">
                    <h5 class="card-title">Bottom line justified</h5>
                </div> -->
                <div class="card-body">
                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                        <li class="nav-item"><a class="nav-link active"
                                href="#bottom-justified-tab1" data-bs-toggle="tab">All Staff</a></li>
                        <li class="nav-item"><a class="nav-link" href="#bottom-justified-tab2"
                                data-bs-toggle="tab">Active Staff</a></li>
                        <li class="nav-item"><a class="nav-link" href="#bottom-justified-tab3"
                                data-bs-toggle="tab">Inactive Staff</a></li>
                    </ul>
                    <div class="tab-content">


                        <div class="tab-pane show active" id="bottom-justified-tab1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card card-table">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-center table-hover datatable">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>
                                                                Name
                                                            </th>
                                                            <th>
                                                                Email
                                                            </th>
                                                            <th>
                                                                Contact Number
                                                            </th>
                                                            <th>
                                                                Joined Date
                                                            </th>
                                                            <th>
                                                                Account Number
                                                            </th>
                                                            <th>Status</th>
                                                            <th class="text-center">
                                                                Actions
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for staff in staffs %}
                                                        <tr>
                                                            <td>
                                                                <h2 class="table-avatar">
                                                                    <a href="profile.html" class="avatar avatar-sm me-2">
                                                                        {% if staff.satff.profile %}
                                                                        <img class="avatar-img rounded-circle img-fluid"
                                                                            src="{{staff.profile.url}}"
                                                                            alt="User Image">
                                                                        {% elif staff.staff.profile %}
                                                                        <img class="avatar-img rounded-circle img-fluid"
                                                                            src="{% static 'default.png' %}"
                                                                            alt="User Image">
                                                                        {% endif %}
                                                                    </a>
                                                                    <a href="profile.html">{{staff.staff.name|title}} <span>{{staff.staff.phone}}</span></a>
                                                                </h2>
                                                            </td>
                                                            <td>
                                                                {{staff.staff.email}}
                                                            </td>
                                                            <td>
                                                                {{staff.staff.phone}}
                                                            </td>
                                                            <td>
                                                                {{staff.staff.date}}
                                                            </td>
                                                            <td>
                                                                {{staff.account_number}}
                                                            </td>
                                                            <td > 
                                                                {% if staff.staff.status == 'Active'  %} 
                                                                    <span class="badge badge-pill bg-success-light">{{  staff.staff.status }}</span>
                                                                    {% else %} 
                                                                    <span class="badge badge-pill bg-danger-light">{{  staff.staff.status }}</span> 
                                                                    {% endif %}    
                                                            </td>
                                                            <td class="text-end">
                                                                <a class="btn btn-sm btn-white text-primary" href="#"
                                                                     data-bs-toggle="modal" onclick="viewdata({{staff.sid}})"
                                                                    data-bs-target="#viewstaff" ><i class="fa fa-eye me-1"></i>View</a>
                                                                <a href="{% url 'branch:editstaff' staff.id staff.staff.id%}"
                                                                    class="btn btn-sm btn-white text-success me-2"><i
                                                                        class="far fa-edit me-1"></i> Edit</a>
                                                                <a href="{% url 'branch:deletestaff' staff.staff.id %}"
                                                                    class="btn btn-sm btn-white text-danger me-2"><i
                                                                        class="far fa-trash-alt me-1"></i>Delete</a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane" id="bottom-justified-tab2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card card-table">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-center table-hover datatable">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            
                                                            <th>
                                                                Name
                                                            </th>
                                                            <th>
                                                                Email
                                                            </th>
                                                            <th>
                                                                Contact Number
                                                            </th>
                                                            <th>
                                                                Joined Date
                                                            </th>
                                                            <th>
                                                                Account Number
                                                            </th>
                                                            <th>Status</th>
                                                            <th class="text-center">
                                                                Actions
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                        {% for active in activestaff %}
                                                        <tr>
                                                            <td>
                                                                <h2 class="table-avatar">
                                                                    <a href="profile.html" class="avatar avatar-sm me-2">
                                                                        {% if staff.satff.profile %}
                                                                        <img class="avatar-img rounded-circle img-fluid"
                                                                            src="{{staff.profile.url}}"
                                                                            alt="User Image">
                                                                        {% endif %}
                                                                    </a>
                                                                    <a href="profile.html">{{active.staff.name|title}} <span>{{active.staff.phone}}</span></a>
                                                                </h2>
                                                            </td>
                                                            <td>
                                                                {{active.staff.email}}
                                                            </td>
                                                            <td>
                                                                {{active.staff.phone}}
                                                            </td>
                                                            <td>
                                                                {{active.staff.date}}
                                                            </td>
                                                            <td>
                                                                {{active.account_number}}
                                                            </td>
                                                            <td > 
                                                                {% if active.staff.status == 'Active'  %} 
                                                                <span class="badge badge-pill bg-success-light">{{  active.staff.status }}</span> 
                                                                 {% endif %}       
                                                            </td>
                                                            <td class="text-end">
                                                                <a class="btn btn-sm btn-white text-primary" href="#"
                                                                     data-bs-toggle="modal"
                                                                    data-bs-target="#viewstaff" ><i class="fa fa-eye me-1"></i>View</a>
                                                                <a href="{% url 'branch:editstaff' active.id active.staff.id%}"
                                                                    class="btn btn-sm btn-white text-success me-2"><i
                                                                        class="far fa-edit me-1"></i> Edit</a>
                                                                <a href="{% url 'branch:deletestaff' active.staff.id %}"
                                                                    class="btn btn-sm btn-white text-danger me-2"><i
                                                                        class="far fa-trash-alt me-1"></i>Delete</a>
                                                            </td> 
                                                        </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane" id="bottom-justified-tab3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card card-table">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-center table-hover datatable">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>
                                                                Name
                                                            </th>
                                                            <th>
                                                                Email
                                                            </th>
                                                            <th>
                                                                Contact Number
                                                            </th>
                                                            <th>
                                                                Joined Date
                                                            </th>
                                                            <th>
                                                                Account Number
                                                            </th>
                                                            <th>Status</th>
                                                            <th class="text-center">
                                                                Actions
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                        {% for inactive in inactivestaff %}
                                                        <tr>
                                                            <td>
                                                                <h2 class="table-avatar">
                                                                    <a href="profile.html" class="avatar avatar-sm me-2">
                                                                        {% if staff.satff.profile %}
                                                                        <img class="avatar-img rounded-circle img-fluid"
                                                                            src="{{staff.profile.url}}"
                                                                            alt="User Image">
                                                                        {% endif %}
                                                                    </a>
                                                                    <a href="profile.html">{{inactive.staff.name|title}} <span>{{inactive.staff.phone}}</span></a>
                                                                </h2>
                                                            </td>
                                                            <td>
                                                                {{inactive.staff.email}}
                                                            </td>
                                                            <td>
                                                                {{inactive.staff.phone}}
                                                            </td>
                                                            <td>
                                                                {{inactive.staff.date}}
                                                            </td>
                                                            <td>
                                                                {{inactive.account_number}}
                                                            </td>
                                                            <td > 
                                                                {% if inactive.staff.status == 'InActive'  %} 
                                                                <span class="badge badge-pill bg-danger-light">{{  inactive.staff.status }}</span> 
                                                                 {% endif %}       
                                                            </td>
                                                            <td class="text-end">
                                                                <a class="btn btn-sm btn-white text-primary" href="#"
                                                                     data-bs-toggle="modal"
                                                                    data-bs-target="#viewstaff" ><i class="fa fa-eye me-1"></i>View</a>
                                                                <a href="{% url 'branch:editstaff' inactive.id inactive.staff.id%}"
                                                                    class="btn btn-sm btn-white text-success me-2"><i
                                                                        class="far fa-edit me-1"></i> Edit</a>
                                                                <a href="{% url 'branch:deletestaff' inactive.staff.id %}"
                                                                    class="btn btn-sm btn-white text-danger me-2"><i
                                                                        class="far fa-trash-alt me-1"></i>Delete</a>
                                                            </td> 
                                                        </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>

               
        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Contact Number
                                        </th>
                                        <th>
                                            Joined Date
                                        </th>
                                        <th>
                                            Account Number
                                        </th>
                                        <th>Status</th>
                                        <th class="text-center">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for staff in staffs %}
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="profile.html" class="avatar avatar-sm me-2">
                                                    {% if staff.satff.profile %}
                                                    <img class="avatar-img rounded-circle img-fluid"
                                                        src="{{staff.profile.url}}"
                                                        alt="User Image">
                                                    {% elif staff.staff.profile %}
                                                    <img class="avatar-img rounded-circle img-fluid"
                                                        src="{% static 'default.png' %}"
                                                        alt="User Image">
                                                    {% endif %}
                                                </a>
                                                <a href="profile.html">{{staff.staff.name|title}} <span>{{staff.staff.phone}}</span></a>
                                            </h2>
                                        </td>
                                        <td>
                                            {{staff.staff.email}}
                                        </td>
                                        <td>
                                            {{staff.staff.phone}}
                                        </td>
                                        <td>
                                            {{staff.staff.date}}
                                        </td>
                                        <td>
                                            {{staff.account_number}}
                                        </td>
                                        <td > 
                                            {% if staff.staff.status == 'Active'  %} 
                                                <span class="badge badge-pill bg-success-light">{{  staff.staff.status }}</span>
                                                {% else %} 
                                                <span class="badge badge-pill bg-danger-light">{{  staff.staff.status }}</span> 
                                                {% endif %}    
                                        </td>
                                        <td class="text-end">
                                            <a class="btn btn-sm btn-white text-primary" href="#"
                                                 data-bs-toggle="modal" onclick="viewdata({{staff.sid}})"
                                                data-bs-target="#viewstaff" ><i class="fa fa-eye me-1"></i>View</a>
                                            <a href="{% url 'branch:editstaff' staff.id staff.staff.id%}"
                                                class="btn btn-sm btn-white text-success me-2"><i
                                                    class="far fa-edit me-1"></i> Edit</a>
                                            <a href="{% url 'branch:deletestaff' staff.staff.id %}"
                                                class="btn btn-sm btn-white text-danger me-2"><i
                                                    class="far fa-trash-alt me-1"></i>Delete</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!--  -->

        <div class="modal custom-modal fade" id="viewstaff" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="form-header text-start mb-0">
        
                            <h4 class="mb-0 text-center">
                                <div class="profile-pic-div">
                                    <img src="" alt="" srcset="" class="img-fluid" id="sprofile">
                                </div>
                            </h4>
                            
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <i class="fa fa-map-marker"></i> <span id="splace"> sdfghnjm </span>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-envelope"></i> <span id="semail">asdfghjk</span>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fa fa-phone"></i> <span id="sphone">asdfghjkl</span>
                                </li>
                            </ul><br>

                            <div class="row justify-content-center container text-center">
                                <h4 class="mb-0 text-primary" id="sname">Staff Name</h4>
                                <h5 id="sid">Staff id</h5>
                            </div>
                        </div>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        
                    </div>


                    <div class="modal-body">
                        <div class="d-flex justify-content-center container">
                            <div class="card p-3 py-4">
                                <h5 class="mb-0 em">Basic Details</h5>
                                <span id="scity" class="text-black-50 p-description d-flex justify-content-between align-items-center mt-4">
                                    <strong>City: </strong>
                                </span>
                                <span id="splace" class="text-black-50 p-description d-flex justify-content-between align-items-center mt-4">
                                    <strong>Place: </strong>
                                </span>
                                <span id="saddress" class="text-black-50 p-description d-flex justify-content-between align-items-center mt-4">
                                    <strong>Address: </strong>
                                </span>
                                <span id="sdate" class="text-black-50 p-description d-flex justify-content-between align-items-center mt-4">
                                    <strong>Join Date: </strong>
                                </span>
                            </div>
                            <div class="d-flex" style="height: 300px;">
                                <div class="vr"></div>
                              </div>
                            <div class="card p-3 py-4">
                                <h5 class="mb-0 em">Bank Details</h5>
                                <span id="sbranchname" class="text-black-50 p-description d-flex justify-content-between align-items-center mt-4">
                                    <strong>Branch Name: </strong>
                                </span>
                                <span id="sbankname" class="text-black-50 p-description d-flex justify-content-between align-items-center mt-4">
                                    <strong>Bank Name:</strong>
                                </span>
                                <span id="saccnum" class="text-black-50 p-description d-flex justify-content-between align-items-center mt-4">
                                    <strong>Account Number :</strong>
                                </span>
                                <span id="sifsc" class="text-black-50 p-description d-flex justify-content-between align-items-center mt-4">
                                    <strong>IFSC :</strong>
                                </span>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>

<style>
    .profile-pic-div {
    height: 100px; 
    width: 100px;
    position:relative;
    top: 50px;
    left: 20%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow:hidden;
    border: 1px solid grey;
    align-items: center;
    margin-left: 55px;
}
</style>


<script>
    function viewdata(sid) {
        $.ajax({
            url: "/branchapp/getstaffGet/" + sid,
            type: 'GET',

            success: function (responce) {


                // console.log(responce)
                $('#sprofile').html(responce.staffs.staff.profile)
                $('#splace').html(responce.staffs.staff.place)
                $('#semail').html(responce.staffs.staff.email)
                $('#sphone').html(responce.staffs.staff.phone)
                $('#sname').html(responce.staffs.staff.name)
                $('#sid').html(responce.staffs.staff.staff_id)
                // $('#scity').html(responce.product.priceper_head)
                $('#saddress').html(responce.staffs.staff.address)
                $('#sdate').html(responce.staffs.staff.date)
                $('#sbranchname').html(responce.staffs.branch)
                $('#sbankname').html(responce.staffs.bank_name)
                $('#saccnum').html(responce.staffs.account_number)
                $('#sifsc').html(responce.staffs.ifsc)
                // $('#saddress').html(responce.product.priceper_kg)
            }

        })
    }
</script>
{% endblock %}