<!-- {% extends "index.html" %}
{% block content %}
    {% load static %}
    <div class="page-wrapper">
        <div class="content container-fluid">

            {% if status == 1%}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <strong>Successfully</strong> add the Staff.
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close"></button>
                </div>
            {% endif %}

            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Add Staff</h3>
                        <ul class="breadcrumb">
                            <li class="">
                                <a href="{% url 'adminapp:adminhome' %}">Dashboard /</a>
                            </li>
                            <li class="">
                                <a href="{% url 'adminapp:staffdetails' %}">Staff /</a>
                            </li>
                            <li class="breadcrumb-item active">Add Staff</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Basic Info</h4>
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control" name="name" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" name="email" required>
                                        </div>
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" class="form-control" name="city" required>
                                        </div>
                                        <div class="form-group">
                                            <label>State</label>
                                            <input type="text" class="form-control" name="state" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Branch id</label>
                                            <input type="text" class="form-control" name="bname"  list="branchlist" id="branch" >
                                            <datalist id="branchlist">
                                                {% for fb in branch %}
                                                    <option value="{{fb.branch_id}}" > {{fb.branch_name}} </option>    
                                                {% endfor %}
                                            </datalist>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" hidden>
                                            <label>Staff ID</label>
                                            <input type="text" name="id" class="form-control" hidden>
                                        </div>
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="text" class="form-control" name="phone" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Place</label>
                                            <input type="text" class="form-control" name="dist" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Join Date</label>
                                            <div >
                                                <input class="form-control" type="date" name="joindate">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Pincode</label>
                                            <input type="text" class="form-control" name="pincode" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Branch Name</label>
                                            
                                            <input class="form-control" id="bname"  type="text" readonly>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea rows="5" cols="5" class="form-control" placeholder="Enter Address" name="address"></textarea>
                                </div>
                                <div class="text-end mt-4">
                                    <button type="submit" class="btn btn-primary">Add Staff</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

    // for branch id

        $(document).ready(function(){

            $('#branch').change(function(){
                // alert('hwllo')
                $.ajax({
                    url:'branchname',
                    type:'GET',
                    data:{
                        'id':$(this).val()  
                    },
                    success:function(response){
                        $('#bname').val(response.staffs.name)
                    }
                })
            })
        })
        
    </script>


{% endblock %} -->
