{% extends "index.html" %}
{% block content %}
    {% load static %}
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Add Branch</h3>
                        <ul class="breadcrumb">
                            <li class="">
                                <a href="{% url 'adminapp:adminhome' %}">Dashboard /</a>
                            </li>
                            <li class="">
                                <a href="{% url 'adminapp:branchdetails' %}">Branch /</a>
                            </li>
                            <li class="breadcrumb-item active">Add Branch</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Basic Info</h4>
                            <form action="#" method="POST">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Branch Name</label>
                                            <input type="text" class="form-control" name="bname">
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label>Place</label>
                                            <input type="text" class="form-control" name="place">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Branch ID (Username)</label>
                                            <a href="" class="form-control" name="bid">{{branch_id}}</a>
                                            {% comment %} <input type="text" value="{{branch_id}}" class="form-control" name="bid"> {% endcomment %}
                                        </div>
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="text" class="form-control" name="phone">
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="text" class="form-control" name="password">
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input type="text" class="form-control" name="cpassword">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea rows="5" cols="5" class="form-control" placeholder="Enter Address" name="address"></textarea>
                                </div>
                                <div class="text-end mt-4">
                                    <button type="submit" class="btn btn-primary">Add Customer</button>
                                </div>
                                {{msg}}
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
//    toggle

        $(document).on('click', '#toggle_btn', function () {
            if ($('body').hasClass('mini-sidebar')) {
                $('body').removeClass('mini-sidebar');
                $('.subdrop + ul').slideDown();
            } else {
                $('body').addClass('mini-sidebar');
                $('.subdrop + ul').slideUp();
            }
            setTimeout(function () {
                mA.redraw();
                mL.redraw();
            }, 300);
            return false;
        });
    </script>
{% endblock %}
